<!DOCTYPE html>
<html>
<head>
<title>IDriBEE</title>
<link rel="stylesheet" href="style.css">   
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark text-light">

  	<a class="navbar-brand">
  		<img src="icon/bee_icon.png" height="50" width="50" >
  		IDriBEE
  	</a>
  		
        <form class="form-inline">
   	<div class="mr-5">User</div>
    <img src="icon/out.png" height="27" width="27">
  </form>
</nav>

<body>
	<div class="section">
		<div class="container">
			<div class="row border-bottom mt-5">
				<h3 class="col-9">Directorio</h3>
				<div class="container" role="group" aria-label="Basic example">
	  				<button type="button" class="btn"><img src="icon/add.png" height="24" width="24"></button>
	  				<button type="button" class="btn"><img src="icon/upload.png" height="24" width="24"></button>
	  			</div> 
			</div>
			<div class="row">
				<div class="col-sm-4 mt-5 text-center">
				<img src="icon/folder.png" height="80" width="80">
					<p>folder 1</p> 
					<div class="container">
						<button type="button" class="btn"><img src="icon/delete.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/share.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/download.png" height="24" width="24"></button>
					</div>
				</div>
				<div class="col-sm-4 mt-5 text-center">
					<img src="icon/folder.png" height="80" width="80">
					<p>folder 2</p> 
					<div class="container">
						<button type="button" class="btn"><img src="icon/delete.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/share.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/download.png" height="24" width="24"></button>
					</div>
				</div>
				<div class="col-sm-4 mt-5 text-center">
					<img src="icon/folder.png" height="80" width="80">
					<p>folder 3</p>
					<div class="container">
						<button type="button" class="btn"><img src="icon/delete.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/share.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/download.png" height="24" width="24"></button>
					</div>
				</div>
				<div class="col-sm-4 mt-5 text-center">
					<img src="icon/folder.png" height="80" width="80">
					<p>folder 4</p>
					<div class="container">
						<button type="button" class="btn"><img src="icon/delete.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/share.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/download.png" height="24" width="24"></button>
					</div>
				</div>
				<div class="col-sm-4 mt-5 text-center">
					<img src="icon/file.png" height="80" width="80">
					<p>file 1</p>
					<div class="container">
						<button type="button" class="btn"><img src="icon/delete.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/share.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/download.png" height="24" width="24"></button>
					</div>
				</div>
				<div class="col-sm-4 mt-5 text-center">
					<img src="icon/file.png" height="80" width="80">
					<p>file 2</p>
					<div class="container">
						<button type="button" class="btn"><img src="icon/delete.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/share.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/download.png" height="24" width="24"></button>
					</div>
				</div>
				<div class="col-sm-4 mt-5 text-center">
					<img src="icon/file.png" height="80" width="80">
					<p>file 3</p>
					<div class="container">
						<button type="button" class="btn"><img src="icon/delete.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/share.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/download.png" height="24" width="24"></button>
					</div>
				</div>
				<div class="col-sm-4 mt-5 text-center">
					<img src="icon/file.png" height="80" width="80">
					<p>file 4</p>
					<div class="container">
						<button type="button" class="btn"><img src="icon/delete.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/share.png" height="24" width="24"></button>
		  				<button type="button" class="btn"><img src="icon/download.png" height="24" width="24"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p></p>
</body>
</html>
